*
!Dockerfile
!Dockerfile.gpu
!horizon-worker-start
!horizon-worker-check
!horizon-worker-configure
!horizon-worker-supervise
!horizon-worker-idle
!horizon-worker-stop
!horizon-worker-run
!horizon-worker-session
!horizon-worker-source
!horizon-worker-import
!horizon-worker-git-auth
!horizon-worker-browserstack
!bin/
bin/**
!bin/horizon-cloud-worker
!bin/horizon-browser
!bin/horizon-device
